import datetime

DB_USER = ""
DB_PASSWORD = ""
DB_HOST = ""
DB_PORT = 0
DB_DATABASE = ""

BOT_TOKEN = ""

DEBUG = True


def out(text, color="b"):
    colors = {
        "g": "32",
        "r": "31",
        "b": "34"
    }
    time = datetime.datetime.now()
    print(f"{time}: \033[{colors[color]}m{text}\033[0m")
